$color-principal:#4e1152;
$color-boton:  #9280a3;
$color-border:  grey;
$color-redes:(gmail: red, instagram:rgb(109, 13, 61), facebook: blue,  whatsapp: green);
$color-talleres:(noCupo: red, siCupo: green, reserva:yellow);
